<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.helloandroid"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".HelloAndroid"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<service android:name=".networkLocationLogger" class=".networkLocationLogger">
			<intent-filter>
				<action android:name="com.example.helloandroid.networkLocationLogger"
				        android:value="com.example.helloandroid.networkLocationLogger" />
			</intent-filter>
		</service>
		<service android:name=".networkLogger" class=".networkLogger">
			<intent-filter>
				<action android:name="com.example.helloandroid.networkLogger"
				        android:value="com.example.helloandroid.networkLogger" />
			</intent-filter>
		</service>
    </application>

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission> 
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission> 
<uses-sdk android:minSdkVersion="7"></uses-sdk>
</manifest> 